.form-input {
  display: grid;
  gap: 1rem;

  & #itemList {
    border-radius: 12px;
    width: 100%;
    height: 2.75rem;
    padding-inline: 1.125rem;
    border: 2px solid var(--border-primary);
  }

  & #itemList:hover {
    border: 2px solid var(--border-hover);
    background: var(--bg-secondary);
  }

  & #itemList:focus {
    /*
        para alterar a borda padrão do input, é necessário remover o outline padrão do navegador
        */
    outline: none;
    border: 2px solid var(--color-brand);
  }

  & button {
    border: none;
    width: 100%;
    color: var(--bg-secondary);
    /* padding: 10px 24px; */
    height: 44px;
    border-radius: 12px;
    background-color: var(--color-brand);
    cursor: pointer;
  }

  & button:hover {
    background-color: var(--color-hover);
  }
}

@media (width >= 30rem) {
  .form-input {
    display: flex;
  }

  & button {
    max-width: 10rem;
  }
}
