.shopping-list {
  display: flex;
  margin-top: 2.5rem;

  & .list-checkbox {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }

  & li {
    align-items: center;
    justify-content: space-between;
    height: 3.562rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    background: var(--bg-secondary);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 1rem;
}

.message-deleted {
  width: 33.5rem;
  height: 3.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0;
  background-color: red;
  font-size: 1.2rem;
  gap: 1rem;
  color: white;
  font-weight: 600;
}