.shopping-list {
  display: flex;
  margin-top: 2.5rem;

  & .list-checkbox {
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
  }

  & li {
    align-items: center;
    justify-content: space-between;
    height: 3.562rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.75rem;
    background: var(--bg-secondary);
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 1rem;
}